{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-lg-6">

      <div class="well">
        <h2>MnV</h2>
        <form action="/mnv" method=post enctype=multipart/form-data >
            <div class="form-group">
                <label for="datafile">Data File</label>
                <input class="form-control" type=file name="datafile" />
                <p class="help-block">Upload the MAVE data file here as a CSV</p>
            </div>
            <div class="form-group">
                <label for="datafile">Email</label>
                <input class="form-control" type=email name="notifyemail" placeholder="Email"/>
                <p class="help-block">A "done" link will be emailed to you when the job is finished</p>
            </div>
            <div class="form-group">
                <input type=submit value="Submit" />
            </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">

      <div class="well">
        <h2>Old Mave?</h2>
        <form action="/mave" method=post enctype=multipart/form-data >
            <div class="form-group">
                <label for="datafile">Data File</label>
                <input class="form-control" type=file name="datafile" />
                <p class="help-block">Upload the MAVE data file here as a CSV</p>
            </div>
            <div class="form-group">
                <label for="datafile">Email</label>
                <input class="form-control" type=email name="notifyemail" placeholder="Email"/>
                <p class="help-block">A "done" link will be emailed to you when the job is finished</p>
            </div>
            <div class="form-group">
                <input type=submit value="Submit" />
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
